.dashboard {
    .charts {
        padding: 50px 20px;

        h1 {
            text-align: center;
        }

        .center-no-data {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}